// Blogr

body
	background: #f3f3f3
// 	padding-top: 20px
// 	padding-bottom: 20px


section.sidebar
	width: 300px
	height: 100%
	position: fixed
	left: 0
	background: #A9F3FA
	.logo
		background: #6BEAF5
		padding: 20px
		height: 85px
		border-bottom: 1px solid #8a8a8a
		h1
			margin: 0
			float: left
		.version
			float: left
			color: darkgray
			line-height: 56px
			padding-left: 10px
	.user
		background: #A9F3FA
		padding: 25px
		height: 100px
		.avatar
			width: 51px
			height: 51px
			border: 1px solid #8d8d8d
			float: left
		.name
			padding-top: 5px
			margin-left: 60px
			font-weight: bold
			font-size: 17px
			line-height: 20px
		.logout
			padding-left: 9px
			font-weight: bold
			a
				color: #000



section.main
	margin-left: 300px
	padding: 25px
	header
		border-bottom: 1px solid #8a8a8a
		margin: -25px
		margin-bottom: 20px
		height: 85px
		padding: 25px
		background: #fff
		h3
			margin: 0
			float: left



// .header, .footer, .page-header, .content
// 	padding-left: 15px
// 	padding-right: 15px

// .header
// 	border-bottom: 1px solid #e5e5e5
// 	height: 80px
// 	.logo
// 		margin-top: 0
// 		margin-bottom: 0
// 		line-height: 40px
// 		padding-bottom: 19px
// 		float: left
// 		img
// 			height: 72px
// 			width: 161px
// 	.version
// 		float: left
// 		color: darkgray
// 		line-height: 92px
// 	.site
// 		color: #7e7e7e
// 		padding-left: 5px
// 	.nav
// 		margin-top: 12px

// .page-header
// 	.links
// 		float: right

// .content
// 	.permalink_info
// 		margin: 10px 0

// .footer
// 	padding-top: 19px
// 	color: #777
// 	border-top: 1px solid #e5e5e5

// @media (min-width: 768px)
// 	.container
// 		max-width: 800px


// @media screen and (min-width: 768px)

// 	.header, .footer
// 		padding-left: 0
// 		padding-right: 0

// 	.header
// 		margin-bottom: 30px