<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Blogr", root_path , class: :brand %>
        <div class="container nav-collapse">
          <ul class="nav">
            <li> <%= link_to 'Posts', admin_posts_path %> </li>
            <li> <%= link_to 'Categories', admin_categories_path %> </li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
