- content_for :links do
	= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure you want to delete this post?"}, class: "btn btn-danger"
	= link_to "Back", @post, class: "btn btn-default"

= render "form"