- content_for :links do
  - if @post.published?
    = link_to "View Post", [Blogr.config.host, @post.permalink].join("/"), class: "btn btn-default"
  = link_to "Edit", edit_post_path, class: "btn btn-default"

- if @post.post_image.present?
  %b Post Image
  %p= image_tag @post.post_image, width: 200
  %hr

.markdown= @post.content_rendered