<div class="container">
	<h2><%= @post.title %></h2>
	<p class="small date"><%= @post.date_parsed %></p>
	<p class="small categories">
	  <%= raw @post.categories.map { |c| link_to c.title, category_path(c) }.join(', ') %>
	</p>

	<%= markdown(@post.content).html_safe %>
</div>